<%-include('partials/header.ejs'); %>
<body>

    <%-include('partials/navbar.ejs'); %>
   

    <div class="container">
      <button class="btn btn-primary">Teste</button>
        <h1>Minha view de teste</h1>
    </div>

   
   

</body>
<%-include('partials/footer.ejs'); %>

